# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [3]:
demo01 = pd.read_csv('demo01.csv')
demo01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16650 entries, 0 to 16649
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sexo                   16650 non-null  object
 1   posse_de_veiculo       16650 non-null  object
 2   posse_de_imovel        16650 non-null  object
 3   qtd_filhos             16650 non-null  int64
 4   tipo_renda             16650 non-null  object
 5   educacao               16650 non-null  object
 6   estado_civil           16650 non-null  object
 7   tipo_residencia        16650 non-null  object
 8   idade                  16650 non-null  float64
 9   tempo_emprego          16650 non-null  float64
 10  possui_celular         16650 non-null  int64
 11  possui_fone_comercial  16650 non-null  int64
 12  possui_fone            16650 non-null  int64
 13  possui_email           16650 non-null  int64
 14  qt_pessoas_residencia  16650 non-null  float64
 15  mau                    16650 non-null  bool
dtypes: bool(1), float64(3), int64(5), object(7)
memory usage: 1.9+ MB

In [4]:
demo01 = demo01.drop_duplicates()
demo01.shape

(6770, 16)

In [5]:
demo01.reset_index(drop=True, inplace=True)
demo01.tail()

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau
6765,F,N,Y,1,Working,Secondary / secondary special,Single / not married,House / apartment,34.857534,3.101370,1,1,1,0,1.0,True
6766,F,N,Y,0,Working,Secondary / secondary special,Civil marriage,House / apartment,54.109589,9.884932,1,0,0,0,2.0,True
6767,F,N,Y,0,Commercial associate,Secondary / secondary special,Married,House / apartment,43.389041,7.380822,1,1,1,0,2.0,True
6768,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,30.005479,9.800000,1,1,0,0,2.0,True
6769,F,N,Y,0,Pensioner,Higher education,Married,House / apartment,33.936986,3.630137,1,0,1,1,2.0,True

In [6]:
demo01.isna().sum() # A BASE NÃO APRESENTOU MISSING

sexo                     0
posse_de_veiculo         0
posse_de_imovel          0
qtd_filhos               0
tipo_renda               0
educacao                 0
estado_civil             0
tipo_residencia          0
idade                    0
tempo_emprego            0
possui_celular           0
possui_fone_comercial    0
possui_fone              0
possui_email             0
qt_pessoas_residencia    0
mau                      0
dtype: int64

In [7]:
demo01['mau'].value_counts()

False    6472
True      298
Name: mau, dtype: int64

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável. 
    Dica: 
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis, 
        3. conte o número de categorias dessa variável 
        4. acumule essa informação de 3. na lista que você criou em 1. 
        5. No final, essa lista pode ser atribuída à nossa variável.
3. Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}.

In [8]:
demo01.columns.unique()

Index(['sexo', 'posse_de_veiculo', 'posse_de_imovel', 'qtd_filhos',
       'tipo_renda', 'educacao', 'estado_civil', 'tipo_residencia', 'idade',
       'tempo_emprego', 'possui_celular', 'possui_fone_comercial',
       'possui_fone', 'possui_email', 'qt_pessoas_residencia', 'mau'],
      dtype='object')

In [9]:
colunas = ['sexo', 'posse_de_veiculo', 'posse_de_imovel', 'qtd_filhos',
       'tipo_renda', 'educacao', 'estado_civil', 'tipo_residencia', 'idade',
       'tempo_emprego', 'possui_celular', 'possui_fone_comercial',
       'possui_fone', 'possui_email', 'qt_pessoas_residencia', 'mau']

demoColumTipo = {}
demoNumCateg = {}

for i in colunas:
    demoColumTipo[i] = demo01[i].dtype
    demoNumCateg[i] = demo01[i].nunique()

In [10]:
demoCategoria = pd.Series(demoColumTipo)
demo1 = pd.DataFrame({'TTPO_DADOS': demoCategoria})

demoCategoria2 = pd.Series(demoNumCateg)
demo2 = pd.DataFrame({'NUM_CATEG': demoCategoria2})

In [11]:
pd.concat([demo1, demo2], axis = 1)

                      TTPO_DADOS  NUM_CATEG
sexo                      object          2
posse_de_veiculo          object          2
posse_de_imovel           object          2
qtd_filhos                 int64          8
tipo_renda                object          5
educacao                  object          5
estado_civil              object          5
tipo_residencia           object          6
idade                    float64       5298
tempo_emprego            float64       3005
possui_celular             int64          1
possui_fone_comercial      int64          2
possui_fone                int64          2
possui_email               int64          2
qt_pessoas_residencia    float64          9
mau                         bool          2

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

In [14]:
demo01.sexo = demo01.sexo.map({'F': 1, 'M':0})

In [15]:
demo01.posse_de_veiculo = demo01.posse_de_veiculo.map({'Y': 1, 'N':0})

In [16]:
demo01.posse_de_imovel = demo01.posse_de_imovel.map({'Y': 1, 'N':0})

In [17]:
demo01 = pd.get_dummies(demo01, columns=['tipo_renda','educacao', 'estado_civil', 'tipo_residencia'], drop_first=True)

In [18]:
demo01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6770 entries, 0 to 6769
Data columns (total 29 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   sexo                                    0 non-null      float64
 1   posse_de_veiculo                        6770 non-null   int64
 2   posse_de_imovel                         6770 non-null   int64
 3   qtd_filhos                              6770 non-null   int64
 4   idade                                   6770 non-null   float64
 5   tempo_emprego                           6770 non-null   float64
 6   possui_celular                          6770 non-null   int64
 7   possui_fone_comercial                   6770 non-null   int64
 8   possui_fone                             6770 non-null   int64
 9   possui_email                            6770 non-null   int64
 10  qt_pessoas_residencia                   6770 non-null   float64
 11  mau                                     6770 non-null   bool
 12  tipo_renda_Pensioner                    6770 non-null   uint8
 13  tipo_renda_State servant                6770 non-null   uint8
 14  tipo_renda_Student                      6770 non-null   uint8
 15  tipo_renda_Working                      6770 non-null   uint8
 16  educacao_Higher education               6770 non-null   uint8
 17  educacao_Incomplete higher              6770 non-null   uint8
 18  educacao_Lower secondary                6770 non-null   uint8
 19  educacao_Secondary / secondary special  6770 non-null   uint8
 20  estado_civil_Married                    6770 non-null   uint8
 21  estado_civil_Separated                  6770 non-null   uint8
 22  estado_civil_Single / not married       6770 non-null   uint8
 23  estado_civil_Widow                      6770 non-null   uint8
 24  tipo_residencia_House / apartment       6770 non-null   uint8
 25  tipo_residencia_Municipal apartment     6770 non-null   uint8
 26  tipo_residencia_Office apartment        6770 non-null   uint8
 27  tipo_residencia_Rented apartment        6770 non-null   uint8
 28  tipo_residencia_With parents            6770 non-null   uint8
dtypes: bool(1), float64(4), int64(7), uint8(17)
memory usage: 700.9 KB

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

In [19]:
demo01['mau'].value_counts()

False    6472
True      298
Name: mau, dtype: int64

In [21]:
tab1 = pd.crosstab(demo01['posse_de_veiculo'], demo01['mau'])
tab1.div(tab1.sum(axis=1), axis=0)

mau                  False     True
posse_de_veiculo
0                 0.954880  0.045120
1                 0.957796  0.042204

In [22]:
tab2 = pd.crosstab(demo01['possui_email'], demo01['mau'])
tab2.div(tab2.sum(axis=1), axis=0)

mau              False     True
possui_email
0             0.955197  0.044803
1             0.964602  0.035398

#### Análise

Realizando a análise cruzada das variáveis 'possui_email' e 'possui_carro' verificamos que o índice menor do alvo default mau = 1 é para os clients que possuem email. Ou seja, para os clientes possuem email = 1 o índice de inadimplência é menor do que para os clientes possui_carro = 1.

#### 5) Salve a base, pois ela será utilizada no final deste módulo.

In [23]:
demo01.to_csv('demo01_v2.csv')