# Módulo 5 Tarefa 1
## Base de nascidos vivos do DataSUS
O DataSUS disponibiliza diversos arquivos de dados com relação a seus segurados, conforme a [lei da transparência de informações públicas](https://www.sisgov.com/transparencia-acesso-informacao/#:~:text=A%20Lei%20da%20Transpar%C3%AAncia%20(LC,em%20um%20site%20na%20internet.). 

Essas informações podem ser obtidas pela internet [aqui](http://www2.datasus.gov.br/DATASUS/index.php?area=0901&item=1). Como o processo de obtenção desses arquivos foge um pouco do nosso escopo, deixamos o arquivo ```SINASC_RO_2019.csv``` já como vai ser encontrado no DataSUS. O dicionário de dados está no arquivo ```estrutura_sinasc_para_CD.pdf``` (o nome do arquivo tal qual no portal do DataSUS).

### Nosso objetivo
Queremos deixar uma base organizada para podermos estudar a relação entre partos com risco para o bebê e algumas condições como tempo de parto, consultas de pré-natal etc.

#### Preparação da base
1. Carregue a base 'SINASC_RO_2019.csv'. Conte o número de registros e o número de registros não duplicados da base. Dica: você aprendeu um método que remove duplicados, encadeie este método com um outro método que conta o número de linhas. **Há linhas duplicadas?**  

2. Conte o número de valores *missing* por variável.  

3. Ok, no item anterior você deve ter achado pouco prático ler a informação de tantas variáveis, muitas delas nem devem ser interesantes. Então crie uma seleção dessa base somente com as colunas que interessam. São elas:
``` 
['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO', 
    'GESTACAO', 'GRAVIDEZ', 'CONSULTAS', 'APGAR5'] 
```
Refaça a contagem de valores *missings*.  

4. Apgar é uma *nota* que o pediatra dá ao bebê quando nasce de acordo com algumas características associadas principalmente à respiração. Apgar 1 e Apgar 5 são as notas 1 e 5 minutos do nascimento. Apgar5 será a nossa variável de interesse principal. Então remova todos os registros com Apgar5 não preenchido. Para esta seleção, conte novamente o número de linhas e o número de *missings*.  

5. observe que as variáveis ```['ESTCIVMAE', 'CONSULTAS']``` possuem o código ```9```, que significa *ignorado*. Vamos assumir que o não preenchido é o mesmo que o código ```9```.<br>
6. Substitua os valores faltantes da quantitativa (```QTDFILVIVO```) por zero.  
7. Das restantes, decida que valore te parece mais adequado (um 'não preenchido' ou um valor 'mais provável' como no item anterior) e preencha. Justifique. Lembre-se de que tratamento de dados é trabalho do cientista, e que estamos tomando decisões a todo o momento - não há necessariamente certo e errado aqui.  
8. O Apgar possui uma classificação indicando se o bebê passou por asfixia:
- Entre 8 e 10 está em uma faixa 'normal'. 
- Entre 6 e 7, significa que o recém-nascido passou por 'asfixia leve'. 
- Entre 4 e 5 significa 'asfixia moderada'.
- Entre 0 e 3 significa 'asfixia severa'.  

Crie uma categorização dessa variável com essa codificação e calcule as frequências dessa categorização.  
<br>
9. Renomeie as variáveis para que fiquem no *snake case*, ou seja, em letras minúsculas, com um *underscore* entre as palávras. Dica: repare que se você não quiser criar um *dataframe* novo, você vai precisar usar a opção ```inplace = True```.

In [98]:
import pandas as pd
import requests

# 1) seu código aqui
sinasc = pd.read_csv('SINASC_RO_2019.csv')
print(sinasc.shape)

(27028, 69)

In [115]:
sinasc.drop_duplicates().shape
# Não há duplicados
linhas, colunas = sinasc.shape

In [100]:
# 2) seu código aqui
sinasc.isna().sum()

ORIGEM          0
CODESTAB      115
CODMUNNASC      0
LOCNASC         0
IDADEMAE        0
             ...
munResUf        0
munResLat       1
munResLon       1
munResAlt       1
munResArea      1
Length: 69, dtype: int64

In [101]:
# 3) seu código aqui
sinasc_resumo = sinasc[['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO', 'GESTACAO', 'GRAVIDEZ', 'CONSULTAS', 'APGAR5']].copy()
sinasc_resumo.head()

,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,QTDFILVIVO,GESTACAO,GRAVIDEZ,CONSULTAS,APGAR5
0,1,19,5.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0
1,1,29,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,9.0
2,1,37,9.0,8 a 11 anos,2.0,37 a 41 semanas,Única,4,10.0
3,1,30,5.0,12 anos ou mais,0.0,37 a 41 semanas,Única,3,10.0
4,1,30,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,10.0

In [102]:
sinasc_resumo.isna().sum()

LOCNASC          0
IDADEMAE         0
ESTCIVMAE      317
ESCMAE         312
QTDFILVIVO    1573
GESTACAO      1232
GRAVIDEZ        79
CONSULTAS        0
APGAR5         103
dtype: int64

In [111]:
# 4) seu código aqui
sinasc_resumo['APGAR5'].dropna() # Não consigui entender porque o comando dropna() não funciona.
sinasc_resumo.shape

(27028, 9)

In [104]:
# 5) seu código aqui
sinasc_resumo.loc[sinasc_resumo['ESTCIVMAE'] == 9]

,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,QTDFILVIVO,GESTACAO,GRAVIDEZ,CONSULTAS,APGAR5
2,1,37,9.0,8 a 11 anos,2.0,37 a 41 semanas,Única,4,10.0
3637,1,20,9.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,9.0
3713,1,21,9.0,8 a 11 anos,0.0,37 a 41 semanas,Única,3,9.0
3735,1,27,9.0,NaN,2.0,NaN,Única,4,9.0
4108,1,22,9.0,12 anos ou mais,0.0,37 a 41 semanas,Única,4,8.0
...,...,...,...,...,...,...,...,...,...
26542,1,23,9.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,10.0
26548,1,23,9.0,4 a 7 anos,2.0,37 a 41 semanas,Única,4,10.0
26759,1,17,9.0,8 a 11 anos,0.0,32 a 36 semanas,Única,3,8.0
26791,1,19,9.0,12 anos ou mais,1.0,37 a 41 semanas,Única,4,10.0
26973,1,36,9.0,NaN,0.0,37 a 41 semanas,Única,3,10.0

In [108]:
sinasc_resumo['ESTCIVMAE'].fillna(9, inplace=True) #sem usar o inplace não estava funcionando a substituição
sinasc_resumo.loc[sinasc_resumo['ESTCIVMAE'] == 9]

,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,QTDFILVIVO,GESTACAO,GRAVIDEZ,CONSULTAS,APGAR5
2,1,37,9.0,8 a 11 anos,2.0,37 a 41 semanas,Única,4,10.0
62,1,20,9.0,NaN,1.0,37 a 41 semanas,Única,4,9.0
68,1,31,9.0,8 a 11 anos,0.0,37 a 41 semanas,Dupla,4,9.0
95,1,31,9.0,1 a 3 anos,1.0,37 a 41 semanas,Única,4,8.0
113,1,35,9.0,12 anos ou mais,1.0,37 a 41 semanas,Única,4,10.0
...,...,...,...,...,...,...,...,...,...
26791,1,19,9.0,12 anos ou mais,1.0,37 a 41 semanas,Única,4,10.0
26911,1,33,9.0,4 a 7 anos,7.0,37 a 41 semanas,Única,4,10.0
26946,1,27,9.0,8 a 11 anos,1.0,37 a 41 semanas,Única,3,9.0
26953,1,23,9.0,4 a 7 anos,2.0,37 a 41 semanas,Única,3,9.0
26973,1,36,9.0,NaN,0.0,37 a 41 semanas,Única,3,10.0

In [109]:
sinasc_resumo.isna().sum()

LOCNASC          0
IDADEMAE         0
ESTCIVMAE        0
ESCMAE         312
QTDFILVIVO    1573
GESTACAO      1232
GRAVIDEZ        79
CONSULTAS        0
APGAR5         103
dtype: int64

Para a coluna **'CONSULTA'** não há registros vazios.

In [112]:
# 6) Seu código aqui
sinasc_resumo['QTDFILVIVO'].fillna(0, inplace=True)
sinasc_resumo.isna().sum()

LOCNASC          0
IDADEMAE         0
ESTCIVMAE        0
ESCMAE         312
QTDFILVIVO       0
GESTACAO      1232
GRAVIDEZ        79
CONSULTAS        0
APGAR5         103
dtype: int64

In [128]:
# 7) seu código aqui
# Coluna ESCMAE deverão ser 'dropados', pois representam um % muito pequeno da base e não impactariam na análise do todo
missing_escmae = sinasc_resumo['ESCMAE'].isna().sum()
print(f'O percentual de dados faltantes de ESCMAE é{(missing_escmae / linhas): .2%}.')

O percentual de dados faltantes de ESCMAE é 1.15%.

In [130]:
sinasc_resumo['ESCMAE'].dropna()
# Entretanto, não consigo executar o dropna().
# Assim, substituir os valores faltantespela string '-'
sinasc_resumo.isna().sum()

LOCNASC          0
IDADEMAE         0
ESTCIVMAE        0
ESCMAE         312
QTDFILVIVO       0
GESTACAO      1232
GRAVIDEZ        79
CONSULTAS        0
APGAR5         103
dtype: int64

In [131]:
sinasc_resumo['ESCMAE'].fillna('-', inplace=True)
sinasc_resumo.isna().sum()

LOCNASC          0
IDADEMAE         0
ESTCIVMAE        0
ESCMAE           0
QTDFILVIVO       0
GESTACAO      1232
GRAVIDEZ        79
CONSULTAS        0
APGAR5         103
dtype: int64

In [136]:
sinasc_resumo['GESTACAO'].value_counts()

37 a 41 semanas        22589
32 a 36 semanas         2249
42 semanas e mais        700
28 a 31 semanas          165
22 a 27 semanas           86
Menos de 22 semanas        7
Name: GESTACAO, dtype: int64

In [138]:
missing_gestacao = sinasc_resumo['GESTACAO'].isna().sum()
print(f'O percentual de dados faltantes de GESTACAO é{(missing_gestacao / linhas): .2%}.')

O percentual de dados faltantes de GESTACAO é 4.56%.

**Análise:** O percentual de quase 5% de dados faltantes não deveria ser ignorado. Observando que existe uma concentração muito alta de gestantes com status **'37 a 41 semanas'(83.58%)**, poderíamos fazer o rateio dos 4,56% na distribuição abaixo apresentada. No entanto, não tenho ainda o conhecimento de como fazer essa distribuição usando o pandas.

In [157]:
# Distribuição dos dados faltantes na variável 'GESTACAO'

status_gestacao = list(sinasc_resumo['GESTACAO'].unique())

list_gestacao = list(sinasc_resumo['GESTACAO'].copy())

for st in status_gestacao:
    status = list_gestacao.count(st)
    print(f'O status {st} representa \033[1m{(status / linhas): .2%}\033[0m da base de dados.')

O status 37 a 41 semanas representa  83.58% da base de dados.
O status 42 semanas e mais representa  2.59% da base de dados.
O status 32 a 36 semanas representa  8.32% da base de dados.
O status 22 a 27 semanas representa  0.32% da base de dados.
O status 28 a 31 semanas representa  0.61% da base de dados.
O status nan representa  4.56% da base de dados.
O status Menos de 22 semanas representa  0.03% da base de dados.

In [158]:
# A título de exercício decide substituir pelo status de maior tendência, haja vista o exposto anteriormente.

sinasc_resumo['GESTACAO'].fillna('37 a 41 semanas', inplace=True)
sinasc_resumo.isna().sum()

LOCNASC         0
IDADEMAE        0
ESTCIVMAE       0
ESCMAE          0
QTDFILVIVO      0
GESTACAO        0
GRAVIDEZ       79
CONSULTAS       0
APGAR5        103
dtype: int64

In [159]:
missing_gravidez = sinasc_resumo['GRAVIDEZ'].isna().sum()
print(f'O percentual de dados faltantes de GRAVIDEZ é{(missing_gravidez / linhas): .2%}.')

O percentual de dados faltantes de GRAVIDEZ é 0.29%.

In [160]:
# O percentual de dados faltantes para GRAVIDEZ é muito pequeno e vamos substituir por '-'.
# Como citado anteriormente, o mais correto seria dropar da base, mas não sei porque motivo não consigo executar o dropna()

sinasc_resumo['GRAVIDEZ'].fillna('-', inplace=True)
sinasc_resumo.isna().sum()

LOCNASC         0
IDADEMAE        0
ESTCIVMAE       0
ESCMAE          0
QTDFILVIVO      0
GESTACAO        0
GRAVIDEZ        0
CONSULTAS       0
APGAR5        103
dtype: int64

In [188]:
# 8) seu código aqui
sinasc_resumo.head()

,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,QTDFILVIVO,GESTACAO,GRAVIDEZ,CONSULTAS,APGAR5,CATEG_APGAR5
0,1,19,5.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0,normal
1,1,29,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,9.0,normal
2,1,37,9.0,8 a 11 anos,2.0,37 a 41 semanas,Única,4,10.0,normal
3,1,30,5.0,12 anos ou mais,0.0,37 a 41 semanas,Única,3,10.0,normal
4,1,30,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,10.0,normal

In [189]:
sinasc_resumo.loc[(sinasc_resumo['APGAR5'] >= 8) & (sinasc_resumo['APGAR5'] <= 10), 'CATEG_APGAR5'] = 'normal'
sinasc_resumo.loc[(sinasc_resumo['APGAR5'] >= 6) & (sinasc_resumo['APGAR5'] <= 7), 'CATEG_APGAR5'] = 'asfixia leve'
sinasc_resumo.loc[(sinasc_resumo['APGAR5'] >= 4) & (sinasc_resumo['APGAR5'] <= 5), 'CATEG_APGAR5'] = 'asfixia moderada'
sinasc_resumo.loc[(sinasc_resumo['APGAR5'] >= 0) & (sinasc_resumo['APGAR5'] <= 3), 'CATEG_APGAR5'] = 'asfixia severa'

sinasc_resumo['CATEG_APGAR5'].value_counts()

normal              26463
asfixia leve          320
asfixia severa         74
asfixia moderada       68
Name: CATEG_APGAR5, dtype: int64

In [190]:
sinasc_resumo.head()

,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,QTDFILVIVO,GESTACAO,GRAVIDEZ,CONSULTAS,APGAR5,CATEG_APGAR5
0,1,19,5.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0,normal
1,1,29,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,9.0,normal
2,1,37,9.0,8 a 11 anos,2.0,37 a 41 semanas,Única,4,10.0,normal
3,1,30,5.0,12 anos ou mais,0.0,37 a 41 semanas,Única,3,10.0,normal
4,1,30,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,10.0,normal

In [195]:
# 9) seu código aqui
sinasc_resumo.columns = sinasc_resumo.columns.str.lower()

In [196]:
sinasc_resumo.head()

,locnasc,idademae,estcivmae,escmae,qtdfilvivo,gestacao,gravidez,consultas,apgar5,categ_apgar5
0,1,19,5.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0,normal
1,1,29,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,9.0,normal
2,1,37,9.0,8 a 11 anos,2.0,37 a 41 semanas,Única,4,10.0,normal
3,1,30,5.0,12 anos ou mais,0.0,37 a 41 semanas,Única,3,10.0,normal
4,1,30,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,10.0,normal